---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Example using Markdown with Latex in Astro</h1>

		<p>An example of using Katex in Astro following the instructions at https://ileumas.com/writing/2022/03/astro-math-katex/
		</p>

		<ul>

		<li> <a href="/formula">This example that displayed formulas are not centered by default.</a> </li>

		<li> <a href="/formula_centered">The following work-around works.</a> </li>

	</ul>

	</body>
</html>

<style>
	h1 {
	   text-align:center;
	}
</style>